.contact-header {
    display: block;
    font-size: 1rem;
    font-family: 'Anton';
    color: #66fcf1;
    text-align: center;
    margin: 0;
    padding: 0 1rem;
}

.feedback-form {
    padding: 1rem;
    min-width: 40%;
    max-width: 70%;
    margin: auto;
    overflow: hidden;
}

.feedback-form .form-control {
    margin-bottom: 0.25rem;
}

.feedback-form input, .feedback-form textarea, .feedback-form label {
    display: inline-block;
    width: 100%;
}

.feedback-form label {
    font-size: 1rem;
    color: #45a29e;
    font-family: 'Anton';
}

.feedback-form input, .feedback-form textarea {
    font-size: 1rem;
    font-family: 'Roboto';
    border: 2px solid #45a29e;
    border-radius: 4px;
    margin: 0.125rem;
}

.feedback-form input:focus, .feedback-form textarea:focus {
    outline: none;
    border: 2px solid #66fcf1;
    background-color: #ebfffe;
}

@media (min-width: 44.375rem) {
    .feedback-form {
        width: 50%;
        max-width: 70%;
        margin: auto;
    }
}

@media (min-width: 59.375rem) {
    .contact-header {
        font-size: 1.75rem;
    }
}