.image-set-2 {
    display: block;
}

.image-set-1 {
    display: none;
}

.showcase-header {
    display: block;
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    text-align: center;
    color: #45a29e;
    width: auto;
    margin: 0 auto;
    padding: 0.5rem;
}

.showcase-container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.showcase-container__mobile, .showcase-container__web {
    background-color: transparent;
    margin: 0 1rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcase-container__web {
    width: 100%;
    height: calc(100vh - 7.125rem);
    background-color: #45a29e;
    border-radius: 16px;
    min-height: 460px;
    max-height: 750px;
    min-width: 280;
    max-width: 320px;
    box-shadow: 5px 5px 5px rgba(69, 162, 158, 0.2);
}

.showcase-container__mobile-item {
    display: block;
    background-color: #45a29e;
    margin-bottom: 1.5rem;
    height: calc(100vh - 8.75rem);
    width: 100%;
    min-height: 460px;
    max-height: 520px;
    min-width: 280px;
    max-width: 320px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 5px 5px 10px rgba(69, 162, 158, 0.2);
}

.showcase-container__mobile-item.main {
    order: 0;
}

.showcase-container__mobile-item.secondary {
    order: 1;
}

.showcase-container__mobile-item.last {
    order: 2;
}

#cf, .cf {
    position: relative;
    overflow: hidden;
}

#cf img, .cf img {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#cf img.top:hover, .cf img.top:hover {
    opacity: 0;
}

@media(min-width: 44.375rem) {
    #showcase .content {
        width: 100%;
    }
}

@media (min-width:56.25rem) {
    .image-set-2 {
        display: none;
    }
    .image-set-1 {
        display: block;
    }
    .showcase-header {
        padding: 0;
        margin: 0;
    }
    .showcase-container__mobile, .showcase-container__web {
        width: 95%;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    .showcase-container__mobile {
        height: calc(100vh - 9.125rem);
        max-height: 800px;
    }
    .showcase-container__web {
        min-width: 95%;
        margin-top: 4.125rem;
        height: calc(100vh - 7.125rem);
        max-height: 800px;
    }
    .showcase-container__mobile-item {
        border-radius: 16px;
        margin: 0 0.5rem;
        min-width: 0;
        max-width: 0;
        min-height: 0;
        max-height: 0;
    }
    .showcase-container__mobile-item.main {
        height: 90%;
        width: 20%;
        min-height: 85%;
        min-width: auto;
        max-height: 400px;
        max-width: 40%;
        order: 0;
    }
    .showcase-container__mobile-item.secondary {
        height: 80%;
        width: 17.5%;
        min-height: 80%;
        min-width: auto;
        max-height: 360px;
        max-width: 35%;
        order: 0;
    }
    .showcase-container__mobile-item.last {
        height: 70%;
        width: 15%;
        min-height: 75%;
        min-width: auto;
        max-height: 320px;
        max-width: 30%;
        order: 0;
    }
    .showcase-container__mobile-item.main img, .showcase-container__mobile-item.secondary img, .showcase-container__mobile-item.last img {
        height: 100%;
        width: 100%;
        vertical-align: middle;
    }
}

@keyframes growandshrink {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadein-animation {
    animation: fadein 3s ease forwards;
}

.animateMobile {
    animation: growandshrink 1.5s ease-out forwards;
}